export(jma,lae,mami,mma,plot.lae,plot.mami,
listSLWrappers,SL.mma,SL.mma.int,SL.mma2,SL.mma.all,SL.jma,SL.jma.int,SL.jma2,SL.jma.all,SL.lae,SL.lae2,SL.lae.int,
predict.SL.mma,predict.SL.mma.int,predict.SL.mma2,predict.SL.mma.all,predict.SL.jma,predict.SL.jma.int,predict.SL.jma2,
predict.SL.jma.all,predict.SL.lae,predict.SL.lae2,predict.SL.lae.int,ma,ms.h,ma.coxph.h,CV.cs,CV.l,ma.bma.h,round_any,zero_range,fullseq,breaks,cut_number,make.positive.definite)
S3method(print,jma)
S3method(print,lae)
S3method(print,mami)
S3method(print,mma)
S3method(predict,mma)
S3method(predict,jma)
S3method(predict,lae)
S3method(plot,mami)
S3method(plot,lae)
S3method(summary,lae)
S3method(summary,mami)
importFrom(survival,coxph)
importFrom(survival,Surv)
importFrom(survival,strata)
importFrom(survival,cluster)
importFrom(MASS, stepAIC)
importFrom(boot,boot)
importFrom(MuMIn, dredge)
importFrom(MuMIn, pdredge)
importFrom(MuMIn, model.avg)
importFrom(MuMIn, get.models)
importFrom(BMA, bic.surv)
importFrom(BMA, bic.glm)
importFrom(Amelia, amelia)
importFrom(lme4, glmer)
importFrom(lme4, getME)
importFrom(quadprog, solve.QP)
importFrom(zoo, rollmean)
importFrom(glmnet, cv.glmnet)
importFrom(glmnet, coef.glmnet)
importFrom(mice, mice)
importFrom(mice, complete)
importFrom(parallel, detectCores)
importFrom(snow, makeCluster)
importFrom(snow, clusterExport)
importFrom(snow, clusterEvalQ)
importFrom(doParallel, registerDoParallel)
importFrom(foreach, foreach)
importFrom(foreach, "%do%")
importFrom(foreach, "%dopar%")
importFrom(graphics, axis, legend, lines, par, plot, polygon)
importFrom(stats, as.formula, coefficients, density, glm,
             lm, na.fail, na.omit, predict, printCoefmat, qt,
             quantile, residuals, sd, formula, family, weights,
             hatvalues, model.matrix, plogis)


