exportPattern("^[^\\.]")
importFrom(survival,coxph)
importFrom(survival,Surv)
importFrom(survival,strata)
importFrom(MASS, stepAIC)
importFrom(boot,boot)
importFrom(MuMIn, dredge)
importFrom(MuMIn, pdredge)
importFrom(MuMIn, model.avg)
importFrom(MuMIn, get.models)
importFrom(BMA, bic.surv)
importFrom(BMA, bic.glm)
importFrom(Amelia, amelia)
importFrom(lme4, glmer)
importFrom(lme4, getME)
importFrom(quadprog, solve.QP)
importFrom(zoo, rollmean)
importFrom(ggplot2, cut_number)
importFrom(corpcor, make.positive.definite)
importFrom(parallel, detectCores)
importFrom(parallel, makeCluster)
importFrom(parallel, clusterExport)
importFrom(parallel, stopCluster)
importFrom(glmnet, cv.glmnet)
importFrom(glmnet, coef.glmnet)
importFrom(mice, mice)
importFrom(mice, complete)
importFrom(graphics, axis, legend, lines, par, plot, polygon)
importFrom(stats, as.formula, coefficients, density, glm,
             lm, na.fail, na.omit, predict, printCoefmat, qt,
             quantile, residuals, sd, formula, family, weights,
             hatvalues, model.matrix)


